<li>
    <article class="post">
        <a href="{% url "induvidual-post-page" post.slug %}">
            <img src="{{post.image.url}}" alt="{{ post.title }}"/>
            <div class="post__content">
                <h3>{{post.title}}</h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat laborum odio dignissimos 
                    hic error laboriosam, doloribus eum nobis asperiores totam dolorem fugit nam quas accusamus
                    animi, corporis sapiente ad aspernatur.
                </p>
            </div>
        </a>
    </article>
</li>